@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('../fonts/noto-serif/NotoSerif-Regular.eot');
  src: url('../fonts/noto-serif/NotoSerif-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/noto-serif/NotoSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/noto-serif/NotoSerif.svg#NotoSerif') format('svg'),
       url('../fonts/noto-serif/NotoSerif.ttf') format('truetype'),
       url('../fonts/noto-serif/NotoSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: Roboto;
	font-size: 14px;
}

.container{
	width: 1170px;
}

ul{
	margin: 0px;
	padding: 0px;
}

ul, li{
	display: inline-block;
	list-style: none;
}

a{
	color: #d3ab59;
}

a:hover{
	text-decoration: none;
	color: #f0d388!important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e4c36f;
    border-color: #e4c36f;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow: 0 0 0 0.2rem rgba(228,195,111,.5);
}

.align-center{
	text-align: center;
}

.btn-primary:hover{
	background-color: #f0d388!important;
    border-color: #f0d388!important;
}

.btn-secondary {
    color: #fff;
    background-color: #4e4e4e;
    border-color: #6c757d;
}

.m0auto{
	margin: 0 auto!important;
}

.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}

.bg-grey{
	background-color: #353535;
}

.text-center{
	text-align: center;
	margin: 0 auto;
}

.breadcrumb-item a, .breadcrumb-item.active{
	color: #2b2e32;
}

.form-control{
	border-radius: 0px;
}

#header-top{
	background-color: #d3ab59;
	height: 23px;
	color: #fefefe;
	line-height: 23px;
	width: 100%;
	max-width: 100%;
}

#header-left{
	float: left;
}

#header-left ul li.map{
	margin-right: 15px;
}

#header-right{
	float: right;
}

#header-right .flag{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 0px 15px;
}

#header-right form{
	float: right;
	display: none;
}

#header-right form .close{
	color: #fff;
}

#header-right input{
	height: 23px;
	padding-left: 5px;
	border:none;
	margin-left: 5px;
	width: 220px;
	display: inline-block;
}

#header-right button{
	height: 23px;
	background: none;
	border: none;
}

#header-right form{
	margin-left: 5px;
}

#header-right .search{
	margin-left: 15px;
	float: right;
}

#header-right .search:hover{
	cursor: pointer;
}

#header-right select{
	height: 23px;
    border: none;
}

#header-middle{
	height: 129px;
	background-color: #fff;
}

#header-middle{
	text-align: center;
	margin: 0 auto;
	height: 129px;
	line-height: 129px;
}

#header-middle ul li a{
	color: #d3ab59;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 19px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	width: 75px;
    height: 75px;
    position: relative;
}

.carousel-control-prev-icon{
	background-image: url("../images/previous.png");
}

.carousel-control-next-icon{
	background-image: url("../images/next.png");
}

#slide{
	position: relative;
}

#slide .circle-vice{
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -60px;
}

#home-about{
	position: relative;
	padding: 80px 0px;
}

#home-about:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bird.png");
    background-repeat: no-repeat;
    background-position: 80% 70%;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

#home-about .title{
	text-align: center;
	margin-bottom: 62px;
}

#home-about .title span{
	font-weight: bold;
}

#home-about .title h1{
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 24px;
}

#home-about .content{
	text-align: center;
}

#feature{
	margin-bottom: 0px;
}

.feature-item {
	float: left;
	border: 0;
	position: relative;
	overflow: hidden;
	width: 25%;
	height: 540px;
}
.feature-item .bg-a {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:4;
	font-family: 'NotoSerif-Regular';
}
.feature-item .title {
	-webkit-transform: translateY(402px);
	transform: translateY(402px);
	-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	color: #c9a458;
	font-size:26px;
	line-height:1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	font-family: 'NotoSerif-Regular';
	font-weight: bold;	
}
.feature-item:hover .title {
	color:#fff;
	white-space: inherit;
	text-overflow: inherit;
	text-align: left;
	padding-bottom: 20px;
}
.feature-item-lg .title {
	-webkit-transform: translateY(315px);
	transform: translateY(315px);
}
.feature-item .desc > div {
	opacity:0;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition:all 0.5s 0.4s ease-out;
	transition:all 0.5s 0.4s ease-out;
}
.feature-item:hover .desc > div,
.feature-item:hover .title {
	opacity:1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.feature-item .rollover:before, .feature-item .rollover:after {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
}
.feature-item .rollover:before {
	background-color:rgba(201,164,88,0.95);
	opacity:0;
	top:0;
	height:100%;
	-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.feature-item .rollover:after {
	background-color:rgba(0,0,0,0.8);
	min-height: 88px;
	-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.feature-item:hover .rollover:before {
	opacity:1;
}
.feature-item:hover .rollover:after {
	opacity:0;
}
.feature-item .image {
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:100%;
}
.feature-item .desc {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 80px 40px 40px 25px;
	z-index:2;
}
.feature-item .index{
	color: #fff;
}
.feature-item .more{
	text-transform: uppercase;
	font-size: 16px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px 0px;
	color: #fff;
}

#book{
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding: 58px 0px;
	margin-bottom: 54px;
	background-color: #ededf0;
}

#book:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bird.png");
    background-repeat: no-repeat;
    background-position: 95% 10%;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: 1;
}

#book a{
	display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 297px;
    height: 86px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

#news{
	margin-bottom: 66px;
	position: relative;
}

.page-news{
	margin-bottom: 20px;
}

#news h1{
	font-size: 30px;
}

#news div{
	margin-bottom: 2px;
}

#news .item{
	padding: 15px;
	border: 1px solid #cfcfcf;
	margin-bottom: 14px;
}

#news .item a{
	margin-bottom: 22px;
}

#news .item:hover{
	border: 1px solid #d3ab59;
}

.post-image {
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px!important;
}

#news .item p, #news p .date, #news p .view{
	color: #c0912f;
	font-size: 13px;
}

#news .item p.desc{
	color: #7a7a7a;
	height: 59px;
	overflow: hidden;
}

#news .title{
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 34px;
}

#news img{
	width: 100%;
	margin-bottom: 16px;
	height: 100%;
}

#news a h4{
	font-size: 18px;
	color: #212121;
	height: 43px;
	overflow: hidden;
}

.pagination{
	margin-bottom: 20px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #c0912f;
    border-color: #c0912f;
}

.page-link{
	color: #c0912f;
}

.page-link:hover{
	color: #c0912f;
}

.news-item-title{
	font-weight: bold;
}

.slick-slide {
	margin: 0 15px;
}
/* the parent */
.slick-list {
	margin: 0px;
}

.slick-dots {
    top: 10px;
    bottom: auto;
    width: auto;
    right: 20px;
}
.slick-slider{
	position: initial;
	width: auto;
}
.slick-dots li.slick-active button:before{
	color: #d3ac5b;
}
.slick-dots li button:before{
	font-size: 18px;
	color: #d3ac5b;
}

.btn-more{
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background-color: #dab452;
	border-radius: 4px;
	height: 42px;
	line-height: 42px;
	padding: 0px 10px;
	font-weight: bold;
}

.btn-more img{
	margin-bottom: 0px!important;
}

/* page */
.page-w{
	background-image: url('../images/bg-page-title.jpg');
	background-repeat: no-repeat;
	height: 200px;
	text-align: center;
}

.page-w .content{
	margin: 0 auto;
    height: 200px;
    display: list-item;
    padding-top: 76px;
}

.page-w .content h1{
	color: #fff;
	text-transform: uppercase;
	font-family: 'NotoSerif-Regular';
	font-weight: bold;
}

.breadcrumb{
	background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before{
	content: url("../images/arrow.png");
}

.w50{
	width: 50%;
	float: left;
}

.fr{
	float: right;
}

.modal-header .close{
	background-color: #000;
	color: #b6b6b6;
}

.modal .modal-body{
	background-color: #e7e7e7;
}

.modal .modal-body h4{
	text-transform: uppercase;
	font-size: 16px;
}

.modal .modal-body .book-demand{
	display: block;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.modal .modal-body form .form-control, .modal .modal-body .book-demand{
	margin-bottom: 20px;
}

.modal .modal-content{
	background-color: transparent;
	border: none;
	padding: 30px;
}

.modal .modal-body button{
	width: 100%;
}

.modal .modal-body .input-group i{
	padding-right: 10px;
}

.input-group{
	position: relative;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.input-group i{
	color: #d3ab59;
	line-height: 38px;
	padding-left: 15px;
}

.input-group .form-control{
	border: none;
	height: 36px!important;
}

.book{

}
/* about */
#page-content{
	margin-bottom: 84px;
}

#page-content img{
	max-width: 100%;
}

#page-content h5{
	margin-bottom: 15px;
}

#page-content a:hover {
    color: #d3ab59!important;
}

.box-all{
	background-color: #f7f7f7;
	border:1px solid #d9d9d9;
}

.box-title{
	background-image: url("../images/bg-box.jpg");
    background-repeat: repeat;
    height: 68px;
    line-height: 68px;
    padding-left: 36px;
    font-weight: bold;
}

.box-content{
	padding: 25px 35px;
}
/* contact */
#page-contact{
	margin-bottom: 88px;
}

#page-contact h3{
	font-size: 18px;
	font-weight: bold;
	color: #d3ab59;
}

#page-contact form .input-group{
	border: none;
}

#page-contact .input-group .form-control{
	border:1px solid #c0c0c0;
	height: 38px!important;
}

#page-contact .input-group i{
	padding-left: 0px;
	line-height: initial;
}

.maps iframe{
	width: 100%;
}

.page-title{
	font-size: 30px;
	color: #000036;
	text-transform: uppercase;
	margin-bottom: 25px;
}

#page-contact .form-control, #page-contact .input-group-text{
	border-radius: 0px;
}

#page-contact .input-group-text{
	background-color: white;
}

#page-contact .input-group .form-control{
	border-left: 0px;
	padding-left: 0px;
}

.box-filter{
	background-color: #f4f4f4;
	padding: 30px 12px;
	height: 120px;
	margin-bottom: 30px;
}

.box-filter label{
	display: block;
	font-weight: bold;
}

.box-filter button{
	background-color: #3e3e3e;
	color: #ccb452;
	text-transform: uppercase;
	border-radius: 0;
}

.come-go{
	width: 390px;
	float: left;
}

.come-go label span{
	float: right;
	font-weight: normal;
}

.come-go input{
	width: 50%;
}

.box-filter .form-control{
	float:left;
}

.box-filter .room, .box-filter .guest{
	width: 150px;
	float: left;
	margin-left: 10px;
}

.box-filter .date-go{
	border-left: 0px;
}

.box-filter .date-come{
	border-right: 0px;
}

.btn-book{
	width: 190px;
	float: left;
	margin-left: 10px;
}

.btn-book button{
	width: 100%;
}

.page-description{
	margin-bottom: 65px;
}

.room-item{
	margin-bottom: 10px;
}

.room-item h3 a{
	color: #212121;
	font-size: 22px;
}

.room-item .btn{
	background-color: #d3ab59;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0px;
	padding-right: 30px;
	border-color: transparent;
}
#room-detail h1{
	display: block;
	width: 100%;
	font-size: 35px;
}

#room-detail .imgs{
	margin-bottom: 50px;
}

.page-info p span{
	font-weight: bold;
}

.big-text{
	font-size: 22px;
}

.contact-book-room .title{
	font-size: 20px;
	font-weight: bold;
	color: #212121;
}

.contact-book-room .hotline{
	font-size: 20px;
}

.contact-book-room .hotline .big-text{
	font-size: 35px;
}

.imgs img{
	max-width: 100%;
	margin-bottom: 5px;
}

.txt-right{
	float: right;
}

footer{
	background-color: #ededf0;
	padding: 40px 0px;
	border-bottom: 4px solid #d3ab59;
}

.footer-address h3{
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.footer-address p{
	font-size: 16px;
}

.footer-connect{
	padding-left: 150px;
}

.footer-connect .phone a, .footer-connect .facebook a{
	color: #292929;
}	

.footer-connect .phone a{
	font-size: 26px;
}

.footer-connect .facebook a{
	font-size: 18px;
}

.footer-connect .phone a img, .footer-connect .facebook a img{
	margin-right: 10px;
}

.footer-link ul{
	width: 160px;
	float: right;
	margin-right: 10px;
}

.footer-link li{
	padding: 5px;
}

.footer-link li:nth-child(2n+1){
	border-right: 1px solid #292929;
	line-height: 12px;
}

.footer-link a{
	font-size: 16px;
	color: #292929;
}
.mobile{
	display: none;
	height: 45px;
}
.desktop{
	display: block;
}
#room-detail img, .news-content img{
	max-width: 100%;
	width: auto;
}
#comments iframe{
	width: 100%!important;
}
.carousel-inner{
	margin: 0 auto;
	text-align: center;
}
.carousel-inner img{
	height: 500px;
	background-size: cover;
	width: 100%;
}
@media screen and (max-width: 1368px) {
	
	#header-middle ul li a{
		font-size: 17px;
	}
}
@media screen and (max-width: 1000px) {
	.navbar-collapse{
		background-color: #fff;
		z-index: 99999;
	}
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.navbar{
		background-color: #fff;
	}
	.navbar-toggler{
		float: right;
	}

	.col-sm-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}

	.navbar-collapse{
		background-color: #fff;
		z-index: 99999;
	}
	.container{
		width: auto;
	}
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.footer-connect {
	    padding-left: 15px;
	}

	#book a{
		margin-bottom: 10px;
	}

	.footer-link ul{
		float: none;
		width: auto;
	}

	.navbar{
		background-color: #fff;
	}

	.circle-vice{
		display: none;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon {
	    width: 40px;
	    height: 40px;
	    position: relative;
	}

	.navbar-toggler{
		float: right;
	}

	.feature-item{
		width: 100%;
	}

	.box-filter{
		overflow: hidden;
		height: auto;
	}

	.w50{
		width: 100%;
	}

	.come-go{
		width: auto;
	}

	.come-go .input-group-first{
		margin-bottom: 10px;
	}

	.box-filter .room, .box-filter .guest{
		margin-left: 0px;
		width: 100%;
	}

	#news .item{
		margin-bottom: 10px;
	}
	.slick-list {
		margin: 0px;
	}

	.slick-dots {
	    top: auto;
	    bottom: -30px;
	    width: 100%;
	    right: 20px;
	}

	.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
	    background: #fff;
	}

	.hc-offcanvas-nav h2{
		color: #000;
	}

	.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item{
		color: #d3ab59;
		border-bottom: none;
	}

	.hc-offcanvas-nav .nav-item {
	    padding: 5px 0px;
	}

	.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a{
		background: #d3ab59;
	    border-top: 1px solid #d3ab59;
	    border-bottom: 1px solid #d3ab59;
	}

	.hc-offcanvas-nav h2{
		padding: 0px 0px 5px;
		font-size: 16px;
	}

	.nav-content{
		padding: 15px;
	}

	.nav-close{
		position: absolute!important;
	    top: 5px;
	    right: 5px;
	}

	.menu-mobile {
	    background: #fff;
	    height: 45px;
	    line-height: 26px;
	    border-bottom: 1px solid #d3ab59;
	}

	.logo-mobile{
		display: block;
		float: left;
		height: 44px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.logo-mobile img{
		max-width: 100%;
		height: 44px;
		padding: 3px;
	}

	.toggle-menu{
		margin-top: 8px;
    	margin-right: 10px;
	}

	.toggle-menu img{
		width: 23px;
	}

	.menu-mobile h1{
		font-size: 1.15em;
	    text-align: left;
	    float: left;
	    text-transform: uppercase;
	    margin-bottom: 0px;
	    margin-top: 12px;
	}
	.menu-mobile .toggle-menu{
		float: right;
		color: #000!important;
	}

	#main-nav{
	    display:none
	}

	.hc-offcanvas-nav li.nav-close span, .hc-offcanvas-nav li.nav-parent span.nav-next, .hc-offcanvas-nav li.nav-back span{
		width: 33px;
	}

	#header-right form label{
		display: none;
	}

	#header-right input{
		width: 160px;
	}

	#header-left ul{
		font-size: 13px;
	}

	#header-left ul li.map{
		margin-right: 0px;
	}
}

@media screen and (max-width: 1024px) {
	.item-news{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
}
@media screen and (max-width: 600px) {
	.item-news{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.post-image {
	    height: 136px;
	}
	.page-w, .page-w .content{
		height: 100px;
		padding-top: 15px;
	}
	.page-w .content h1{
		font-size: 30px;
	}
	.slick-dots {
		right: 0px!important;
	}
	.carousel-inner img{
		max-height: 300px;
	}
}

@media screen and (max-width: 480px) {
	.item-news{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.post-image {
	    height: 136px;
	}
	.page-w, .page-w .content{
		height: 100px;
		padding-top: 15px;
	}
	.page-w .content h1{
		font-size: 30px;
	}

	#header-right .flag{
		padding: 0px 5px;
	}

	#header-right input {
	    width: 130px!important;
	}
	.slick-dots {
		right: 0px!important;
	}
	.carousel-inner img{
		max-height: 300px;
	}
}